// Page specific styles
@import 'categories';
@import 'schedule';
@import 'breadcrumb';
@import 'tag-cloud';
.post-body p a {
  color: #0593d3 !important;
  border-bottom: none;
  &:hover {
    color: #0477ab;
    text-decoration: underline;
  }
}